@media screen and (max-width: 480px) {
	#rank {
		font-size: 100px;
		color: #202C39;
	}
	
	#text {
		font-size: 14px;
		color: #F29559;
	}
	
	#updated {
		font-size: 10px;
		color: #202C39;
	}
	
	.center {
		text-align: center;
	}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
	#rank {
		font-size: 140px;
		color: #202C39;
	}
	
	#text {
		font-size: 16px;
		color: #F29559;
	}
	
	#updated {
		font-size: 12px;
		color: #202C39;
	}
	
	.center {
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	#rank {
		font-size: 200px;
		color: #202C39;
	}
	
	#text {
		font-size: 18px;
		color: #F29559;
	}
	
	#updated {
		font-size: 14px;
		color: #202C39;
	}
	
	.center {
		text-align: center;
	}
}