@media screen and (max-width: 480px) {
	#rank {
		font-size: 100px;
	}
	
	#text {
		font-size: 14px;
	}
	
	#updated {
		font-size: 10px;
	}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
	#rank {
		font-size: 140px;
	}
	
	#text {
		font-size: 16px;
	}
	
	#updated {
		font-size: 12px;
	}
}

@media screen and (min-width: 768px) {
	#rank {
		font-size: 200px;
	}
	
	#text {
		font-size: 18px;
	}
	
	#updated {
		font-size: 14px;
	}
}

#rank {
	color: #202C39;
}

#text {
	color: #F29559;
}

#updated {
	color: #202C39;
}

.center {
	text-align: center;
}